/* styles.css */
body {
    font-family: Space Grotesk;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.f {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fc {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
}


.bg {
    position: fixed;
}


.center {

    margin-top: 50px;
    width: 450px;
}



.top {
    background-color: #fff;
    border-radius: 250px;
}

.btn {
    border-radius: 250px;
    background-color: #000;
    margin: 8px;
    padding: 0 20px;
    height: 40px;
    color: #fff;
    font-weight: 300;
    letter-spacing: -0.7px;
}

.org {
    background-color: #fff;
  
    
    color: #ffa70e;
}

.bottom {

    border: 1.5px solid #e0e2e5;
    width: 100%;
    height: 100%;
    border-radius: 42px;
}

.name {
    width: 80%;
    padding-left: 0px;
    padding-top: 20px;

    position: relative;
}

h1 {
    /* margin-top: 220px; */
    font-size: 45px;
    letter-spacing: -3px;
    line-height: 0;
    line-height: 0.5;
}

h5 {
    /* margin-top: 220px; */
    font-size: 15px;
    letter-spacing: -0.6px;
    font-weight: 100;
    line-height: 0;
    color: #9d9d9d;
}

.count {
    background-color: #000;
    color: #fff;
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 25px;
    top: 17px;
    right: 0;
    font-size: 25px;
}

.tasks {
    width: 80%;
    min-height: 400px;
    
}

.task {

    position: relative;
    border: 1.5px solid #e0e2e5;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 20px;
}


.task h3 {
    font-size: 15px;
    letter-spacing: -0.3px;
    font-weight: 500;
    line-height: 0;
}

.task h5 {
    font-size: 15px;
    letter-spacing: -0.3px;
    font-weight: 400;
    line-height: 0;
    margin-bottom: 25px;
}


.left,
.badge,
.metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}


.metrics p {
    font-size: 12px;
    color: #bababa;
}


.badge {
    background-color: #edf4fd;
    padding: 1px 10px;
    line-height: 0;
    border-radius: 10px;
    padding-right: 30px;
}

.badge p {
    color: #000;
    letter-spacing: -0.3px;
    font-size: 11px;
    font-weight: 800;
}

.circle {
    background-color: #68A3F0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


.priority {
    font-size: 12px;
    display: flex;
    background-color: #E4F5E2;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 500;
    gap: 4px;

    position: absolute;
    right: 13px;
    bottom: 70px;

    line-height: 0;
}



/* ------------------- */

input,
select {
    font-family: Space Grotesk;
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    border: 1.5px solid #e0e2e5;
}

.two{
    display: flex;
    width: 105%;
}


/* ----------------------------------- */

.bg{
    position: absolute;
    z-index: -9;
}

.footer {
    text-align: center;
    color: #777;
    font-size: 12px;
    z-index: 12;

}

.footer, .footer p {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #777;
}
.footer img{
    width: 15px;
    height: 15px;
}

#task-form{
    display: none;
}